<app-navigation></app-navigation>
<mat-tab-group>
  <mat-tab label="Time table">
    <mat-card>
      <mat-card-title class="card-title">Today's time table</mat-card-title>
      <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col" *ngFor="let item of topClasses">
              <mat-card class="today">
                <mat-card-subtitle>{{item.time}}</mat-card-subtitle>
                <mat-card-content>{{item.unit}}</mat-card-content>
                <mat-card-content><b>Venue:</b>{{item.venue}} <small>{{item.venue_description}}</small></mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title class="card-title">Full time table</mat-card-title>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Unit</th>
              <th scope="col">Venue</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of classes">
              <td>{{item.day}}</td>
              <td>{{item.time}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.venue}}<br><small>{{item.venue_description}}</small></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="My faculties"></mat-tab>
  <mat-tab label="My departments"></mat-tab>
  <mat-tab label="My courses"></mat-tab>
  <mat-tab label="My units"></mat-tab>
</mat-tab-group>
