<app-navigation></app-navigation>
<mat-tab-group>
  <mat-tab label="Today's Classes">

    <mat-card>
      <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col"  *ngFor="let item of classes">
              <mat-card class="today">
                <mat-card-subtitle>{{item.time}}</mat-card-subtitle>
                <mat-card-content>{{item.unit}}</mat-card-content>
                <mat-card-content><b>Venue:</b>{{item.venue}} <small>{{item.venue_description}}</small></mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Faculties">
    <mat-card class="mb4">
      <mat-card-subtitle>Add new faculty</mat-card-subtitle>
      <form [formGroup]="facultyForm" (submit)="onAddFaculty()">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Faculty name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Faculty description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="primary">Add faculty</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    <mat-card class="mb4">
      <mat-card-subtitle>Faculties</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of faculties">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/faculty/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteFaculty(item.id)">Delete</button>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Departments">
    <mat-card class="mb4">
      <mat-card-subtitle>Add new department</mat-card-subtitle>
      <form [formGroup]="departmentForm" (submit)="onAddDepartment()">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Department name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Department description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Faculty</mat-label>
                <mat-select formControlName="faculty_id">
                  <mat-option *ngFor="let item of faculties" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="primary">Add department</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    <mat-card class="mb4">
      <mat-card-subtitle>Departments</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of departments">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/department/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteDepartment(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Courses">
    <mat-card class="mb4">
      <mat-card-subtitle>Add new course</mat-card-subtitle>
      <form [formGroup]="courseForm" (submit)="onAddCourse()">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Course name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Course description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Department</mat-label>
                <mat-select formControlName="department_id">
                  <mat-option *ngFor="let item of departments" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="primary">Add course</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    <mat-card class="mb4">
      <mat-card-subtitle>Courses</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of courses">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/course/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteCourse(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Units">
    <mat-card class="mb4">
      <mat-card-subtitle>Add new unit</mat-card-subtitle>
      <form [formGroup]="unitsForm" (submit)="onAddUnit()">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Unit name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Unit description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Course</mat-label>
                <mat-select formControlName="course_id">
                  <mat-option *ngFor="let item of courses" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Day of the week</mat-label>
                <mat-select formControlName="day">
                  <mat-option *ngFor="let item of unitDays" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Time</mat-label>
                <mat-select formControlName="time">
                  <mat-option *ngFor="let item of unitTimes" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Room</mat-label>
                <mat-select formControlName="room">
                  <mat-option *ngFor="let item of rooms" [value]="item">{{item.name}} <small>{{item.description}}</small></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="primary">Add unit</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    <mat-card class="mb4">
      <mat-card-subtitle>Units</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of units">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.day}}</td>
              <td>{{item.time}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/unit/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteUnit(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Rooms">
    <mat-card class="mb4">
      <mat-card-subtitle>Add new room</mat-card-subtitle>
      <form [formGroup]="roomsForm" (submit)="onAddRoom()">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Room name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Room description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Room capacity</mat-label>
                <input type="number" matInput formControlName="capacity">
              </mat-form-field>
            </div>
            <div class="col">
              <button type="submit" mat-raised-button color="primary">Add room</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>Rooms</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Capacity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rooms">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.capacity}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/room/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteRoom(item.id)">Delete</button>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Time Slots">
    <mat-card class="mb4">
      <mat-card-subtitle>Time slots</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of time_slots">
              <td>{{item.day}}</td>
              <td>{{item.time}}</td>
              <td>{{item.description}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/time_slot/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteTimeSlot(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Lecturer">
    <mat-card class="mb4">
      <mat-card-subtitle>Lecturers</mat-card-subtitle>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Code</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Staff Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lecturers">
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.staff_no}}</td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/lecturer/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteLecturer(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Timetable">
    <mat-card>
      <mat-card-title class="card-title">Full time table</mat-card-title>
      <mat-card-content>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Unit</th>
              <th scope="col">Venue</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allClasses">
              <td>{{item.day}}</td>
              <td>{{item.time}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.venue}}<br><small>{{item.venue_description}}</small></td>
              <td>
                <button mat-raised-button color="accent" (click)="router.navigate(['/lecturers/edit/timetable/' + item.id])">Update</button>&nbsp;
                <button mat-raised-button color="warn" (click)="onDeleteTT(item.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
